<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
<!-- Navigation -->
<div class="navigation" th:insert="~{navigation :: body}"></div>

<!-- First Part -->
<div class="first-part">
  <div class="first-part-text">
    <h1>About</h1>
    <p>This web-app has been created by Lorenzo Buttros for his Guided Technology Project at CCT College Dublin.</p>
  </div>
  <div class="first-part-image">
    <img src="/images/about-img.png" alt="Service Image">
  </div>
</div>

<!-- Second Part -->
<div class="other-parts">
  <h2>Where we are</h2>
  <p>Bring your vehicle or come have a chat with our mechanics!</p>
  <!-- Embed Google Map with the given address -->
  <!-- Code from https://blog.duda.co/responsive-google-maps-for-your-website -->
  <iframe src="https://www.google.com/maps?q=30-34+Westmoreland+St,+Dublin+2,+D02+HK35&output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!-- Footer -->
<div th:insert="~{footer :: body}"></div>


<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var tabInputs = document.querySelectorAll('input[name="tabs"]');
    Array.prototype.forEach.call(tabInputs, function(input) {
      input.addEventListener('change', function() {
        var tabItemId = this.id.replace('tab', 'tab-item');
        var tabItems = document.querySelectorAll('.tab-item');
        Array.prototype.forEach.call(tabItems, function(tabItem) {
          tabItem.classList.remove('active');
        });
        document.getElementById(tabItemId).classList.add('active');
      });
    });
  });
</script>

</body>
</html>
