<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/user-options.css">
  <link rel="stylesheet" type="text/css" href="/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
<!-- Navigation -->
<div class="navigation" th:insert="~{navigation :: body}"></div>

<!-- First Part -->
<div class="first-part">
  <div class="first-part-text">
    <h2>Account - Vehicles</h2>
    <p>These are your registered vehicles:</p>
  </div>
</div>
<div class="second-part">
  <!-- Vehicle selection form -->
  <button class="userButton" onclick="window.location.href='/account/vehicles/add'">Add Vehicle</button>
  <button class="userButton" onclick="window.location.href='/'">Back to Home</button>

  <table class="user-table">
    <tr>
      <th>License</th>
      <th>Type</th>
      <th>Make</th>
      <th>Color</th>
      <th>Engine</th>
    </tr>
    <tr th:each="vehicle : ${vehicles}">
      <td th:text="${vehicle.license}"></td>
      <td th:text="${vehicle.type}"></td>
      <td th:text="${makesMap.get(vehicle.make)}"></td>
      <td th:text="${vehicle.color}"></td>
      <td th:text="${vehicle.engine}"></td>
    </tr>
  </table>
</div>
<!-- Footer -->
<div th:insert="~{footer :: body}"></div>


</body>
</html>
