<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read Bookings</title>
    <link rel="stylesheet" type="text/css" href="/css/user-options.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
</head>
<body>
<!-- Navigation -->
<div class="navigation" th:insert="~{navigation :: body}"></div>

<h1 class="page-title">Admin - Bookings</h1>

<button class="userButton" onclick="window.location.href='/admin/bookings/create'">Create Booking</button>
<button class="userButton" onclick="window.location.href='/admin'">Back to Menu</button>

<table class="user-table">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Vehicle</th>
        <th>License</th>
        <th>Service</th>
        <th>Date In</th>
        <th>Time In</th>
        <th>Date Out</th>
        <th>Time Out</th>
        <th>Status</th>
        <th>Price</th>
        <th>Staff</th>
    </tr>
    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.id}"></td>
        <td th:text="${usersMap.get(booking.user)}"></td>
        <td th:text="${booking.vehicle}"></td>
        <td th:text="${vehiclesMap.get(booking.vehicle)}"></td>
        <td th:text="${servicesMap.get(booking.service)}"></td>
        <td th:text="${booking.datein}"></td>
        <td th:text="${booking.timein}"></td>
        <td th:text="${booking.dateout}"></td>
        <td th:text="${booking.timeout}"></td>
        <td th:text="${booking.status}"></td>
        <td th:text="${booking.price}"></td>
        <td th:text="${booking.staff}"></td>
        <td>
            <a class="edit-link" th:href="@{/admin/bookings/update/{id}(id=${booking.id})}">Edit</a>
            <a class="delete-link" th:href="@{/admin/bookings/delete/{id}(id=${booking.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>



