<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="footer">
    <div class="footer-img-section">
        <img class="seal" src="/images/seal-img.png" alt="Seal of Approval">
    </div>
    <div class="footer-section">
        <h3>SOCIALS</h3>
        <ul>
            <li><a href="https://www.facebook.com">Facebook</a></li>
            <li><a href="https://www.google.com">Google</a></li>
            <li><a href="https://www.youtube.com">Youtube</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>REVIEWS</h3>
        <ul>
            <li><a href="https://www.google.com">Google</a></li>
            <li><a href="https://www.facebook.com">Facebook</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>CONTACT</h3>
        <ul>
            <li>Phone: 89 765 4321</li>
            <li>Working hours: 9am - 5pm</li>
            <li>Address: 30-34 Westmoreland St, Dublin 2, D02 HK35</li>
        </ul>
    </div>
</footer>
</body>
</html>
