<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
<!-- Navigation -->
<div class="navigation" th:insert="~{navigation :: body}"></div>

<!-- First Part -->
<div class="first-part">
  <div class="first-part-text">
    <h1>Home</h1>
    <p>Ger's garage offers the services your vehicle needs, with the best mechanics and close to you.</p>
  </div>
  <div class="first-part-image">
    <img src="/images/home-img.png" alt="Home Image">
  </div>
</div>

<!-- Second Part -->
<div class="other-parts">
  <h2>Book your service now!</h2>
  <p>With our booking system, you can quickly create a free account and register your vehicles.
    Then, all you have to do is choose one of them and select the service, day and time.</p>
  <br><br>
  <button class="userButton" onclick="window.location.href='/booking/vehicle'">Book Now</button>
  <!--<button class="userButton" onclick="window.location.href='/auth/signup'">Create Account</button>-->
  <br><br>
  <p>We service motorbikes, cars, vans and small buses. See below the makes we service:</p>
  <ul>
    <li th:each="make : ${makes}" th:text="${make.make}"></li>
  </ul>
  </div>
</div>

<!-- Third Part -->
<div class="other-parts">
  <h2>Where we are</h2>
  <p>Bring your vehicle or come have a chat with our mechanics!</p>
  <!-- Embed Google Map with the given address -->
  <!-- Code from https://blog.duda.co/responsive-google-maps-for-your-website -->
  <iframe src="https://www.google.com/maps?q=30-34+Westmoreland+St,+Dublin+2,+D02+HK35&output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!-- Footer -->
<div th:insert="~{footer :: body}"></div>

</body>
</html>