<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
<!-- Navigation -->
<div class="navigation" th:insert="~{navigation :: body}"></div>

<!-- First Part -->
<div class="first-part">
  <div class="first-part-text">
    <h1>Shop</h1>
    <p>Shop here for parts and accessories for your vehicle.</p>
  </div>
  <div class="first-part-image">
    <img src="/images/shop-img.png" alt="Service Image">
  </div>
</div>

<div class="other-parts">
  <h2>Accessories</h2>
  <p>See our accessories sections below:</p>
  <div class="userButton" onclick="window.location.href='/shop/section/Safety'">
    <img src="/images/item-img.png" alt="Safety">
    <label>Safety</label>
  </div>

  <div class="userButton" onclick="window.location.href='/shop/section/Electrics'">
    <img src="/images/item-img.png" alt="Electrics">
    <label>Electrics</label>
  </div>

  <div class="userButton" onclick="window.location.href='/shop/section/Trims'">
    <img src="/images/item-img.png" alt="Trims">
    <label>Trims</label>
  </div>

  <div class="userButton" onclick="window.location.href='/shop/section/Misc'">
    <img src="/images/item-img.png" alt="Miscellaneous">
    <label>Miscellaneous</label>
  </div>
</div>

<!-- Second Part -->
<div class="other-parts">
  <h2>Parts</h2>
  <p>See our available vehicle parts below:</p>
  <div class="userButton" onclick="window.location.href='/shop/makes/Air_Filter'">
    <img src="/images/item-img.png" alt="Item Image">
    Air Filters
  </div>
  <div class="userButton" onclick="window.location.href='/shop/makes/Brake_Disc'">
    <img src="/images/item-img.png" alt="Item Image">
    Brake Discs
  </div>
  <div class="userButton" onclick="window.location.href='/shop/makes/Brake_Pad'">
    <img src="/images/item-img.png" alt="Item Image">
    Brake Pads
  </div>
  <div class="userButton" onclick="window.location.href='/shop/makes/Exhaust'">
    <img src="/images/item-img.png" alt="Item Image">
    Exhaust
  </div>
  <div class="userButton" onclick="window.location.href='/shop/makes/Clutch_Kit'">
    <img src="/images/item-img.png" alt="Item Image">
    Clutch Kits
  </div>
</div>

<!-- Third Part -->
<div class="other-parts">
  <h2>Where we are</h2>
  <p>Bring your vehicle or come have a chat with our mechanics!</p>
  <!-- Embed Google Map with the given address -->
  <!-- Code from https://blog.duda.co/responsive-google-maps-for-your-website -->
  <iframe src="https://www.google.com/maps?q=30-34+Westmoreland+St,+Dublin+2,+D02+HK35&output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!-- Footer -->
<div th:insert="~{footer :: body}"></div>


<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var tabInputs = document.querySelectorAll('input[name="tabs"]');
    Array.prototype.forEach.call(tabInputs, function(input) {
      input.addEventListener('change', function() {
        var tabItemId = this.id.replace('tab', 'tab-item');
        var tabItems = document.querySelectorAll('.tab-item');
        Array.prototype.forEach.call(tabItems, function(tabItem) {
          tabItem.classList.remove('active');
        });
        document.getElementById(tabItemId).classList.add('active');
      });
    });
  });
</script>

</body>
</html>
