<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/user-options.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
</head>
<body>
<!-- Navigation -->
<div class="navigation" th:insert="~{navigation :: body}"></div>

<h1 class="page-title">Log In</h1>



<form class="create-form" action="/auth/signin" method="post" th:action="@{/auth/signin}">

    <label for="email">Email:</label>
    <input class="form-input" type="text" id="email" name="email" required><br><br>
    <label for="password">Password:</label>
    <input class="form-input" type="password" id="password" name="password" required><br><br>
    <button class="form-button" type="submit">Log In</button>
    <button class="userButton" onclick="window.location.href='/'">Back to Home</button>
</form>

</body>
</html>
