vehicle-create.html<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Vehicle</title>
    <link rel="stylesheet" type="text/css" href="/css/user-options.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
</head>
<body>
<!-- Navigation -->
<div class="navigation" th:insert="~{navigation :: body}"></div>

<h1 class="page-title">Create Vehicle</h1>


<form class="create-form" action="/admin/vehicles" method="post" th:action="@{/admin/vehicles}" th:object="${vehicle}">
    <label for="user">User:</label>
    <input class="form-input" type="text" id="user" name="user" required><br><br>
    <label for="type">Type:</label>
    <select class="form-input" id="type" name="type" required>
        <option value="Car">Car</option>
        <option value="Motorbike">Motorbike</option>
        <option value="Van">Van</option>
        <option value="Small Bus">Small Bus</option>
    </select><br><br>
    <label for="license">License:</label>
    <input class="form-input" type="text" id="license" name="license" required><br><br>
    <label for="make">Make:</label>
    <select class="form-input" id="make" name="make" required>
        <option th:each="make : ${makes}" th:value="${make.id}" th:text="${make.make}" th:selected="${make.id.equals(vehicle.make)}"></option>
    </select><br><br>
    <label for="color">Color:</label>
    <input class="form-input" type="text" id="color" name="color" required><br><br>
    <label for="engine">Engine:</label>
    <select class="form-input" id="engine" name="engine" required>
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
        <option value="Hybrid">Hybrid</option>
        <option value="Electric">Electric</option>
    </select><br><br>
    <button class="form-button" type="submit">Create</button>
    <button class="userButton" onclick="window.location.href='/admin/vehicles/'">Back to Vehicles</button>

</form>

</body>
</html>
